html {
  font-family: "Lato", Helvetica, Arial;
  color: #2b2b2a;
  background: #ededed;
}

#container{
  position: center;
  width: 100%;
}

h1 {
  text-align: center;
  top: 60px;
}

h4 {
  text-align: center;
}

a {
  text-decoration: none;
  position: center;
}

img {
  padding-right: 10px;
  padding-bottom: 10px;
}

#primary-nav {
  position: center;
  /*position: absolute;
  margin-right: 0px;*/
}

nav {
  /*position: fixed;*/
  /*margin-right: 0px;
  top: 0;*/
  width: 100%;
  position: center;
}

nav li {
  display: inline;
  margin-right: 15px;
}

nav span {
  color: #777;
}

#categories {
  width: 80%;
  position: center;
}

#categories div {
  display: inline-block;
  position: center;
}

#main-content {
  position: center;
}

form {
  display: ;
}
