body, html {
	height: 100%;
	font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 21px;
    color: #777;
}

.logo {
	position: fixed;
	top: 5px;
	left: 40px;
	color: white;
	z-index: 2;
	font-family: 'Permanent Marker', sans-serif;
	font-size: 28px;
}

.navigation {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #999999;
}

.group {
	position: fixed;
	right: 40px;
}

nav li, a {
	position: relative;
	display: inline;
	padding: 8px;
	text-decoration: none;
	color: #ffffff;
}

.navigation a:visited span {
	color: #ffffff;
}

.navigation a:hover span {
	color: #666666;
}

#categories {
	width: 80%;
  	position: relative;
  	top: 90px;
}

.trivia-category {
	background-color: #21212c;
	display: inline-block;
	height: 250px;
	width: 320px;
	padding: 5px;
	margin: 5px;
	color: white;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.trivia-category span {
	padding: 10px;
	margin: 10px;
}
